In [1]:
print('Hello World!')

Hello World!

In [2]:
plint('Hello World!')

NameError: name 'plint' is not defined

In [ ]:
type(5)

In [ ]:
type('Hello')

In [3]:
type(7.5)

float

In [4]:
type([1, 2, 3])

list

In [5]:
type((1, 2, 3))

tuple

In [6]:
type({'name': 'Janis'})

dict

In [7]:
type(set([1, 2, 3]))

set

In [8]:
2 + 22

24

In [9]:
a = 42

In [10]:
a

42

In [11]:
a = 55
a

55

In [12]:
a = a + 5
a

60

In [13]:
3 + 5
print('aa')

aa

In [14]:
a - 5

55

In [15]:
b = a / 4
print(type(b), b)

<class 'float'> 15.0

In [ ]:
a // 4

In [ ]:
a % 2

In [ ]:
3 ** 5

In [ ]:
help(a)

In [ ]:
dir(a)

In [ ]:
a.bit_length()

In [ ]:
myname = 'Janis'

In [ ]:
myname

In [ ]:
mystr = "It's a beautiful day!"

In [ ]:
mystr

In [ ]:
crazystr = "It \' is crazy they said: \" \t \n \\ this is the end"b

In [ ]:
print(crazystr)

mynewstr = "something is wrong"

In [ ]:
dir(str)

In [ ]:
myname.upper()

In [ ]:
myname.count('a')

In [ ]:
longstring = '''One line
Second line
Third line
Fourth line 'foobar'
Fift
'''

In [ ]:
print(longstring)

In [ ]:
myname[0]

In [ ]:
myname[-1]

In [ ]:
myname[0:6:2]

In [ ]:
myname[::2]

In [ ]:
myname[::-1]

In [ ]:
food = 'kartupelis'

In [ ]:
newfood = food[:3] + 'c' + food[4:]

In [ ]:
newfood

In [ ]:
food * 3

In [ ]:
food.index('t')

In [ ]:
mylist = list(range(10))
print(mylist)

In [ ]:
mynamelist = list(myname)

In [ ]:
print(mylist)
print(mynamelist)
print(myname)

In [ ]:
"".join(mynamelist)

In [ ]:
mylist[::-1]

In [ ]:
mylist[2:7]

In [ ]:
mylist[::3]

In [ ]:
mylist[-2::-2]

In [ ]:
mylist[::-2]

In [ ]:
print('Janis', end='')
print('other string')

In [ ]:
print('one string', 'other string', sep='**')