# This is comment!

In [1]:
myname = 'Janis'

In [2]:
print(f'Hello {myname}')

Hello Janis

In [3]:
print(f'This number is {5 + 25}')

This number is 30

In [4]:
True or False

True

In [7]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 1475-AACB

 Directory of C:\Users\janis\GitHub\RCS_Data_Analysis_Python

10.01.2019  16:13    <DIR>          .
10.01.2019  16:13    <DIR>          ..
10.01.2019  16:05    <DIR>          .ipynb_checkpoints
09.01.2019  13:54    <DIR>          Cheat_Sheets
10.01.2019  15:59    <DIR>          data
07.01.2019  17:21         4 459 626 Datu Analitika_Overview.pdf
07.01.2019  17:21             1 349 Git_Workflow.md
09.01.2019  13:54             1 084 LICENSE
10.01.2019  16:13             1 531 My_lesson_file_2.ipynb
10.01.2019  16:03            11 348 My_test_file_1.ipynb
09.01.2019  13:54            10 380 Python Data Structures Exercises.ipynb
09.01.2019  13:54            17 905 Python Flow Control.ipynb
09.01.2019  14:10            15 628 Python Functions.ipynb
09.01.2019  16:36            34 170 Python Introduction.ipynb
09.01.2019  15:58             4 013 Python Learning Resources.ipynb
09.01.2019  14:05            92 953 Python Variables and Data Types.ipynb
07.01.2019  17:21             2 377 README.md
              12 File(s)      4 652 364 bytes
               5 Dir(s)  158 736 310 272 bytes free

In [8]:
5 > 4

True

In [9]:
'Janis' == myname

True

In [10]:
'Janis' != myname

False

In [12]:
midname = "Janis"

In [13]:
myname == midname

True

In [14]:
'Valdis' > 'Valdemars' # compares alphabeticaly

True

In [15]:
True == 1

True

In [16]:
True and False

False

In [17]:
id(myname)

2323735100976

In [18]:
id(midname)

2323735100976

In [19]:
midname is myname

True

In [22]:
id(myname)

2323735100976

In [23]:
id(midname)

2323735100976

In [24]:
a = 555
b = 555

In [25]:
id(a)

2323734816848

In [26]:
id(b)

2323734817520

In [29]:
print(id(0))
print(id(1))
print(id(2))
print(id(5000))
print(id(5001))

140725189668576
140725189668608
140725189668640
2323734818352
2323734818160

In [31]:
c = 0.1 + 0.2
print(c)

0.30000000000000004

In [32]:
0.3 - 0.2 - 0.1

-2.7755575615628914e-17

In [49]:
mylist = ['Bread', 'Milk', 'Chocolate']
mylist[1]

'Milk'

In [50]:
'Chocolate' in mylist

True

In [51]:
5 in mylist

False

In [52]:
mylist += list(range(5))

In [56]:
mylist

['Bread', 'Milk', 'Chocolate', 0, 1, 2, 3, 4]

In [57]:
mylist.append(list(range(5)))

In [58]:
print(mylist)

['Bread', 'Milk', 'Chocolate', 0, 1, 2, 3, 4, [0, 1, 2, 3, 4]]

In [59]:
mylist.insert(5, 66)
mylist

['Bread', 'Milk', 'Chocolate', 0, 1, 66, 2, 3, 4, [0, 1, 2, 3, 4]]

In [60]:
sorted(mylist[3:9])

[0, 1, 2, 3, 4, 66]

In [62]:
mylist.index(66)

5

In [63]:
mylist[9][1:4]

[1, 2, 3]

In [64]:
sum(mylist[9][1:4])

6

In [65]:
len(mylist)

10

In [ ]:
newlist = []

SETS

In [66]:
s = {1,3,4,6,4,3,7}
s

{1, 3, 4, 6, 7}

TUPLES:

In [67]:
mytuples = (1,5,6,2,10)
mytuples

(1, 5, 6, 2, 10)

In [75]:
reversetuple = mytuples[::-1]
reversetuple

(10, 2, 6, 5, 1)

In [76]:
a, b, c, d, e = mytuples

In [77]:
print(f'a:{a} b:{b}')

a:1 b:5

In [79]:
a, _, _, d, _ = mytuples
a, d

(1, 2)

In [81]:
mylist = [x * 1.323242 for x in range(10)]
mylist

[0.0,
 1.323242,
 2.646484,
 3.969726,
 5.292968,
 6.616210000000001,
 7.939452,
 9.262694,
 10.585936,
 11.909178]

In [82]:
newlist = [round(el, 4) for el in mylist]
newlist

[0.0, 1.3232, 2.6465, 3.9697, 5.293, 6.6162, 7.9395, 9.2627, 10.5859, 11.9092]

DICTIONARY

In [83]:
mydict = {'name': 'Janis', 'food': 'apple'}

In [85]:
mydict.keys()

dict_keys(['name', 'food'])

In [86]:
mydict.values()

dict_values(['Janis', 'apple'])

In [87]:
mydict.items()

dict_items([('name', 'Janis'), ('food', 'apple')])

In [88]:
mydict['name']

'Janis'

In [89]:
mydict['underdict'] = {'foo': 'bar'}

In [94]:
'Janis' in mydict.values()

True

In [95]:
'bar' in mydict.values()

False

In [97]:
mynumberdict = {'a': 5, 'b': 10, 6: 7}
mynumberdict

{'a': 5, 'b': 10, 6: 7}

In [98]:
mynumbers = [el for el in mynumberdict.values() if el < 8]
mynumbers

[5, 7]

IF STATEMENTS (BRANCHING)

In [107]:
myname = input('What is your name? ')

if myname == 'Janis':
    print("Hello, Janis hear.")
    
elif myname == 'Valdis':
    print('This is Valdis not Janis.')

else:
    print('You are not Janis.')

print('This line will always print')

What is your name? Valdis
This is Valdis not Janis.
This line will always print