In [36]:
import pandas as pd 

appended_df = pd.DataFrame()

region_sliced_table = pd.DataFrame([[22, 22, 22, 22]], columns=['Sludinājuma apraksts', 'Pagasts', 'Platība', 'Cena'])
appended_df = appended_df.append(region_sliced_table, ignore_index=True)
region_sliced_table2 = pd.DataFrame([[23, 23, 23, 23]], columns=['Sludinājuma apraksts', 'Pagasts', 'Platība', 'Cena'])
appended_df = appended_df.append(region_sliced_table2, ignore_index=True)
appended_df

   Sludinājuma apraksts  Pagasts  Platība  Cena
0                    22       22       22    22
1                    23       23       23    23

In [29]:
df = pd.DataFrame([[1, 2]], columns=['A', 'B'])


df2 = pd.DataFrame([[5, 6]], columns=['A', 'B'])
df.append(df2)

   A  B
0  1  2
0  5  6

In [27]:
d

NameError: name 'd' is not defined