## JSON

# JSON - Javascript Object Notation
#### Invented by Douglas Crockford when working at Yahoo in early 2000s.

* Goal - Human Readable, Machine Parsable

* Specification: https://www.json.org/

JSON — short for JavaScript Object Notation — format for sharing data. 

JSON is derived from the JavaScript programming language

Available for use by many languages including Python 

usually file extension is .json when stored

In [ ]:
# Sample JSON below from https://json.org/example.html
# Question why is Syntax highlighting working properly ? :)

In [1]:
{"widget": {
    "debug": "on",
    "window": {
        "title": "Sample Konfabulator Widget",
        "name": "main_window",
        "width": 500,
        "height": 500
    },
    "image": { 
        "src": "Images/Sun.png",
        "name": "sun1",
        "hOffset": 250,
        "vOffset": 250,
        "alignment": "center"
    },
    "text": {
        "data": "Click Here",
        "size": 36,
        "style": "bold",
        "name": "text1",
        "hOffset": 250,
        "vOffset": 100,
        "alignment": "center",
        "onMouseUp": "sun1.opacity = (sun1.opacity / 100) * 90;"
    }
}}

{'widget': {'debug': 'on',
  'window': {'title': 'Sample Konfabulator Widget',
   'name': 'main_window',
   'width': 500,
   'height': 500},
  'image': {'src': 'Images/Sun.png',
   'name': 'sun1',
   'hOffset': 250,
   'vOffset': 250,
   'alignment': 'center'},
  'text': {'data': 'Click Here',
   'size': 36,
   'style': 'bold',
   'name': 'text1',
   'hOffset': 250,
   'vOffset': 100,
   'alignment': 'center',
   'onMouseUp': 'sun1.opacity = (sun1.opacity / 100) * 90;'}}}

In [36]:
# if this was string starting with { it would be our json
mydata = {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "dancing"],
    "age": 43,
    "children": [
        {
            "firstName": 'Alice',
            "age": 7
        },
        {
            "firstName": 'Bob',
            "age": 13
        }
    ],
    'Female': True,
    'pets': None
}

In [37]:
type(mydata)

dict

In [38]:
mydata

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'dancing'],
 'age': 43,
 'children': [{'firstName': 'Alice', 'age': 7},
  {'firstName': 'Bob', 'age': 13}],
 'Female': True,
 'pets': None}

The process of encoding JSON is usually called serialization. This term refers to the transformation of data into a series of bytes (hence serial) to be stored or transmitted across a network. You may also hear the term marshaling, but that’s a whole other discussion. Naturally, deserialization is the reciprocal process of decoding data that has been stored or delivered in the JSON standard.

All we’re talking about here is reading and writing. Think of it like this: encoding is for writing data to disk, while decoding is for reading data into memory.
 https://realpython.com/python-json/

In [39]:
import json

In [ ]:
# json.dump() - makes python dict format to json format. It takes file as one of it arguments.
# json.dumps() - makes python dict format to json format as string type. dumps() argument must be python dictionary.
# json.load() - makes json format to python dict.
# json.loads() - makes json format string into python dict.

In [60]:
print(json.dumps(mydata))

{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": "Alice", "age": 7}, {"firstName": "Bob", "age": 13}], "Female": true, "pets": null}

In [41]:
# Create file with json extension and write our dictionary to it.
# json.dump makes dictionary into json syntax which is very similar to dict syntax.
# If we have True or None in our Python dict when creating json file, json.dump makes transforms them to true and null.

with open("data_file.json", "w") as write_file:
    json.dump(mydata, write_file)

In [66]:
# use json string in our program

json_string = json.dumps(mydata)

print('type(json_string) =============== ', type(json_string), '\n')

print('json_string ============== ', json_string, '\n')

print('mydata =============== ', mydata)

type(json_string) ===============  <class 'str'>

json_string ==============  {"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": "Alice", "age": 7}, {"firstName": "Bob", "age": 13}], "Female": true, "pets": null}

mydata ===============  {'firstName': 'Jane', 'lastName': 'Doe', 'hobbies': ['running', 'sky diving', 'dancing'], 'age': 43, 'children': [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}], 'Female': True, 'pets': None}

In [72]:
# Convert Json_string back to our Python Object

my_obj = json.loads(json_string)

print('type(json_string) ============= ', type(json_string), '\n')

print('type(my_obj) ============== ', type(my_obj), '\n')

print('json_string ============= ', json_string, '\n')

print( 'my_obj =============== ', my_obj, '\n')

type(json_string) =============  <class 'str'>

type(my_obj) ==============  <class 'dict'>

json_string =============  {"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": "Alice", "age": 7}, {"firstName": "Bob", "age": 13}], "Female": true, "pets": null}

my_obj ===============  {'firstName': 'Jane', 'lastName': 'Doe', 'hobbies': ['running', 'sky diving', 'dancing'], 'age': 43, 'children': [{'firstName': 'Alice', 'age': 7}, {'firstName': 'Bob', 'age': 13}], 'Female': True, 'pets': None}

In [74]:
# Above example JSON and Python object have the same syntax but there are some differences.

![object](https://www.json.org/object.gif)

![Array](https://www.json.org/array.gif)

![Value](https://www.json.org/value.gif)

Simple Python objects are translated to JSON according to a fairly intuitive conversion.

Python	JSON

dict	object

list, tuple	array

str	string

int, long, 

float	number

True	true

False	false

None	null

In [11]:
# The first option most people want to change is whitespace. You can use the indent keyword argument to specify the indentation size for nested structures. Check out the difference for yourself by using data, which we defined above, and running the following commands in a console:

json.dumps(mydata)

'{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "dancing"], "age": 43, "children": [{"firstName": null, "age": 7}, {"firstName": true, "age": 13}]}'

In [12]:
# very useful for visibility!

print(json.dumps(mydata, indent=4))

{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": [
        "running",
        "sky diving",
        "dancing"
    ],
    "age": 43,
    "children": [
        {
            "firstName": null,
            "age": 7
        },
        {
            "firstName": true,
            "age": 13
        }
    ]
}

In [75]:
# Writes json file with indentations. It is easier to read for humans as it is not in one long line anymore.

with open("data_file.json", "w") as write_file:
    json.dump(mydata, write_file, indent=4)

In [81]:
# read_file can be used only one time and then it is empty.

with open("data_file.json", "r") as read_file:
    
    print('type(read_file)=======================', type(read_file), '\n')
    
#     txt = read_file.read()
    
    print('txt========================= ', txt, '\n')
    
    data1 = json.loads(read_file.read())    # returns error, due to read_file.read() being empty because it has been used already one time. 
#     print(data1)
    
    data2 = json.loads('{"aaa": 1}')          # For loads function, string must be parsed. String must be in json format and keys must be in double quotes (""). 
        
    print('data2 ==================== ', data2, '\n')

type(read_file)======================= <class '_io.TextIOWrapper'>

txt=========================  {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": [
        "running",
        "sky diving",
        "dancing"
    ],
    "age": 43,
    "children": [
        {
            "firstName": "Alice",
            "age": 7
        },
        {
            "firstName": "Bob",
            "age": 13
        }
    ],
    "Female": true,
    "pets": null
}

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [26]:
with open("data_file.json", "r") as read_file:
#     print(read_file.read())
    data = json.load(read_file)
    
    
#     print(type(read_file))
    print(data)

{'firstName': 'Jane', 'lastName': 'Doe', 'hobbies': ['running', 'sky diving', 'dancing'], 'age': 43, 'children': [{'firstName': None, 'age': 7}, {'firstName': True, 'age': 13}]}

In [16]:
type(data)

dict

Keep in mind that the result of this method could return any of the allowed data types from the conversion table. This is only important if you’re loading in data you haven’t seen before. In most cases, the root object will be a dict or a list.

If you've gotten JSON data in from another program or have otherwise obtained a string of JSON formatted data in Python, you can easily deserialize that with loads(), which naturally loads from a string:

In [91]:
json_string = """
{
    "researcher": {
        "name": "Ford Prefect",
        "species": "Betelgeusian",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ]
    }
}
"""
data = json.loads(json_string)
data

{'researcher': {'name': 'Ford Prefect',
  'species': 'Betelgeusian',
  'relatives': [{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]}}

In [92]:
type(data)

dict

In [93]:
data['researcher']['relatives'][0]['name']

'Zaphod Beeblebrox'

In [2]:
import json
import requests

In [3]:
## Lets get some data https://jsonplaceholder.typicode.com/

In [13]:
response = requests.get("https://jsonplaceholder.typicode.com/todos")

todos = json.loads(response.text)

todos[:10]

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 {'userId': 1,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'completed': False},
 {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False},
 {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'completed': False},
 {'userId': 1,
  'id': 6,
  'title': 'qui ullam ratione quibusdam voluptatem quia omnis',
  'completed': False},
 {'userId': 1,
  'id': 7,
  'title': 'illo expedita consequatur quia in',
  'completed': False},
 {'userId': 1,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'completed': True},
 {'userId': 1,
  'id': 9,
  'title': 'molestiae perspiciatis ipsa',
  'completed': False},
 {'userId': 1,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'completed': True}]

In [16]:
with open('mytodo.json', 'w') as fileout:
    json.dump(todos, fileout, indent=4)

In [98]:
response

In [99]:
response.text

'[\n  {\n    "userId": 1,\n    "id": 1,\n    "title": "delectus aut autem",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 2,\n    "title": "quis ut nam facilis et officia qui",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 3,\n    "title": "fugiat veniam minus",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 4,\n    "title": "et porro tempora",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 5,\n    "title": "laboriosam mollitia et enim quasi adipisci quia provident illum",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 6,\n    "title": "qui ullam ratione quibusdam voluptatem quia omnis",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 7,\n    "title": "illo expedita consequatur quia in",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 8,\n    "title": "quo adipisci enim quam ut ab",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 9,\n    "title": "molestiae perspiciatis ipsa",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 10,\n    "title": "illo est ratione doloremque quia maiores aut",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 11,\n    "title": "vero rerum temporibus dolor",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 12,\n    "title": "ipsa repellendus fugit nisi",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 13,\n    "title": "et doloremque nulla",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 14,\n    "title": "repellendus sunt dolores architecto voluptatum",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 15,\n    "title": "ab voluptatum amet voluptas",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 16,\n    "title": "accusamus eos facilis sint et aut voluptatem",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 17,\n    "title": "quo laboriosam deleniti aut qui",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 18,\n    "title": "dolorum est consequatur ea mollitia in culpa",\n    "completed": false\n  },\n  {\n    "userId": 1,\n    "id": 19,\n    "title": "molestiae ipsa aut voluptatibus pariatur dolor nihil",\n    "completed": true\n  },\n  {\n    "userId": 1,\n    "id": 20,\n    "title": "ullam nobis libero sapiente ad optio sint",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 21,\n    "title": "suscipit repellat esse quibusdam voluptatem incidunt",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 22,\n    "title": "distinctio vitae autem nihil ut molestias quo",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 23,\n    "title": "et itaque necessitatibus maxime molestiae qui quas velit",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 24,\n    "title": "adipisci non ad dicta qui amet quaerat doloribus ea",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 25,\n    "title": "voluptas quo tenetur perspiciatis explicabo natus",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 26,\n    "title": "aliquam aut quasi",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 27,\n    "title": "veritatis pariatur delectus",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 28,\n    "title": "nesciunt totam sit blanditiis sit",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 29,\n    "title": "laborum aut in quam",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 30,\n    "title": "nemo perspiciatis repellat ut dolor libero commodi blanditiis omnis",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 31,\n    "title": "repudiandae totam in est sint facere fuga",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 32,\n    "title": "earum doloribus ea doloremque quis",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 33,\n    "title": "sint sit aut vero",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 34,\n    "title": "porro aut necessitatibus eaque distinctio",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 35,\n    "title": "repellendus veritatis molestias dicta incidunt",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 36,\n    "title": "excepturi deleniti adipisci voluptatem et neque optio illum ad",\n    "completed": true\n  },\n  {\n    "userId": 2,\n    "id": 37,\n    "title": "sunt cum tempora",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 38,\n    "title": "totam quia non",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 39,\n    "title": "doloremque quibusdam asperiores libero corrupti illum qui omnis",\n    "completed": false\n  },\n  {\n    "userId": 2,\n    "id": 40,\n    "title": "totam atque quo nesciunt",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 41,\n    "title": "aliquid amet impedit consequatur aspernatur placeat eaque fugiat suscipit",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 42,\n    "title": "rerum perferendis error quia ut eveniet",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 43,\n    "title": "tempore ut sint quis recusandae",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 44,\n    "title": "cum debitis quis accusamus doloremque ipsa natus sapiente omnis",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 45,\n    "title": "velit soluta adipisci molestias reiciendis harum",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 46,\n    "title": "vel voluptatem repellat nihil placeat corporis",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 47,\n    "title": "nam qui rerum fugiat accusamus",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 48,\n    "title": "sit reprehenderit omnis quia",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 49,\n    "title": "ut necessitatibus aut maiores debitis officia blanditiis velit et",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 50,\n    "title": "cupiditate necessitatibus ullam aut quis dolor voluptate",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 51,\n    "title": "distinctio exercitationem ab doloribus",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 52,\n    "title": "nesciunt dolorum quis recusandae ad pariatur ratione",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 53,\n    "title": "qui labore est occaecati recusandae aliquid quam",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 54,\n    "title": "quis et est ut voluptate quam dolor",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 55,\n    "title": "voluptatum omnis minima qui occaecati provident nulla voluptatem ratione",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 56,\n    "title": "deleniti ea temporibus enim",\n    "completed": true\n  },\n  {\n    "userId": 3,\n    "id": 57,\n    "title": "pariatur et magnam ea doloribus similique voluptatem rerum quia",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 58,\n    "title": "est dicta totam qui explicabo doloribus qui dignissimos",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 59,\n    "title": "perspiciatis velit id laborum placeat iusto et aliquam odio",\n    "completed": false\n  },\n  {\n    "userId": 3,\n    "id": 60,\n    "title": "et sequi qui architecto ut adipisci",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 61,\n    "title": "odit optio omnis qui sunt",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 62,\n    "title": "et placeat et tempore aspernatur sint numquam",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 63,\n    "title": "doloremque aut dolores quidem fuga qui nulla",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 64,\n    "title": "voluptas consequatur qui ut quia magnam nemo esse",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 65,\n    "title": "fugiat pariatur ratione ut asperiores necessitatibus magni",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 66,\n    "title": "rerum eum molestias autem voluptatum sit optio",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 67,\n    "title": "quia voluptatibus voluptatem quos similique maiores repellat",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 68,\n    "title": "aut id perspiciatis voluptatem iusto",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 69,\n    "title": "doloribus sint dolorum ab adipisci itaque dignissimos aliquam suscipit",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 70,\n    "title": "ut sequi accusantium et mollitia delectus sunt",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 71,\n    "title": "aut velit saepe ullam",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 72,\n    "title": "praesentium facilis facere quis harum voluptatibus voluptatem eum",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 73,\n    "title": "sint amet quia totam corporis qui exercitationem commodi",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 74,\n    "title": "expedita tempore nobis eveniet laborum maiores",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 75,\n    "title": "occaecati adipisci est possimus totam",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 76,\n    "title": "sequi dolorem sed",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 77,\n    "title": "maiores aut nesciunt delectus exercitationem vel assumenda eligendi at",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 78,\n    "title": "reiciendis est magnam amet nemo iste recusandae impedit quaerat",\n    "completed": false\n  },\n  {\n    "userId": 4,\n    "id": 79,\n    "title": "eum ipsa maxime ut",\n    "completed": true\n  },\n  {\n    "userId": 4,\n    "id": 80,\n    "title": "tempore molestias dolores rerum sequi voluptates ipsum consequatur",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 81,\n    "title": "suscipit qui totam",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 82,\n    "title": "voluptates eum voluptas et dicta",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 83,\n    "title": "quidem at rerum quis ex aut sit quam",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 84,\n    "title": "sunt veritatis ut voluptate",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 85,\n    "title": "et quia ad iste a",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 86,\n    "title": "incidunt ut saepe autem",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 87,\n    "title": "laudantium quae eligendi consequatur quia et vero autem",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 88,\n    "title": "vitae aut excepturi laboriosam sint aliquam et et accusantium",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 89,\n    "title": "sequi ut omnis et",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 90,\n    "title": "molestiae nisi accusantium tenetur dolorem et",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 91,\n    "title": "nulla quis consequatur saepe qui id expedita",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 92,\n    "title": "in omnis laboriosam",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 93,\n    "title": "odio iure consequatur molestiae quibusdam necessitatibus quia sint",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 94,\n    "title": "facilis modi saepe mollitia",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 95,\n    "title": "vel nihil et molestiae iusto assumenda nemo quo ut",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 96,\n    "title": "nobis suscipit ducimus enim asperiores voluptas",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 97,\n    "title": "dolorum laboriosam eos qui iure aliquam",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 98,\n    "title": "debitis accusantium ut quo facilis nihil quis sapiente necessitatibus",\n    "completed": true\n  },\n  {\n    "userId": 5,\n    "id": 99,\n    "title": "neque voluptates ratione",\n    "completed": false\n  },\n  {\n    "userId": 5,\n    "id": 100,\n    "title": "excepturi a et neque qui expedita vel voluptate",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 101,\n    "title": "explicabo enim cumque porro aperiam occaecati minima",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 102,\n    "title": "sed ab consequatur",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 103,\n    "title": "non sunt delectus illo nulla tenetur enim omnis",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 104,\n    "title": "excepturi non laudantium quo",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 105,\n    "title": "totam quia dolorem et illum repellat voluptas optio",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 106,\n    "title": "ad illo quis voluptatem temporibus",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 107,\n    "title": "praesentium facilis omnis laudantium fugit ad iusto nihil nesciunt",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 108,\n    "title": "a eos eaque nihil et exercitationem incidunt delectus",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 109,\n    "title": "autem temporibus harum quisquam in culpa",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 110,\n    "title": "aut aut ea corporis",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 111,\n    "title": "magni accusantium labore et id quis provident",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 112,\n    "title": "consectetur impedit quisquam qui deserunt non rerum consequuntur eius",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 113,\n    "title": "quia atque aliquam sunt impedit voluptatum rerum assumenda nisi",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 114,\n    "title": "cupiditate quos possimus corporis quisquam exercitationem beatae",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 115,\n    "title": "sed et ea eum",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 116,\n    "title": "ipsa dolores vel facilis ut",\n    "completed": true\n  },\n  {\n    "userId": 6,\n    "id": 117,\n    "title": "sequi quae est et qui qui eveniet asperiores",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 118,\n    "title": "quia modi consequatur vero fugiat",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 119,\n    "title": "corporis ducimus ea perspiciatis iste",\n    "completed": false\n  },\n  {\n    "userId": 6,\n    "id": 120,\n    "title": "dolorem laboriosam vel voluptas et aliquam quasi",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 121,\n    "title": "inventore aut nihil minima laudantium hic qui omnis",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 122,\n    "title": "provident aut nobis culpa",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 123,\n    "title": "esse et quis iste est earum aut impedit",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 124,\n    "title": "qui consectetur id",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 125,\n    "title": "aut quasi autem iste tempore illum possimus",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 126,\n    "title": "ut asperiores perspiciatis veniam ipsum rerum saepe",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 127,\n    "title": "voluptatem libero consectetur rerum ut",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 128,\n    "title": "eius omnis est qui voluptatem autem",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 129,\n    "title": "rerum culpa quis harum",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 130,\n    "title": "nulla aliquid eveniet harum laborum libero alias ut unde",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 131,\n    "title": "qui ea incidunt quis",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 132,\n    "title": "qui molestiae voluptatibus velit iure harum quisquam",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 133,\n    "title": "et labore eos enim rerum consequatur sunt",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 134,\n    "title": "molestiae doloribus et laborum quod ea",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 135,\n    "title": "facere ipsa nam eum voluptates reiciendis vero qui",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 136,\n    "title": "asperiores illo tempora fuga sed ut quasi adipisci",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 137,\n    "title": "qui sit non",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 138,\n    "title": "placeat minima consequatur rem qui ut",\n    "completed": true\n  },\n  {\n    "userId": 7,\n    "id": 139,\n    "title": "consequatur doloribus id possimus voluptas a voluptatem",\n    "completed": false\n  },\n  {\n    "userId": 7,\n    "id": 140,\n    "title": "aut consectetur in blanditiis deserunt quia sed laboriosam",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 141,\n    "title": "explicabo consectetur debitis voluptates quas quae culpa rerum non",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 142,\n    "title": "maiores accusantium architecto necessitatibus reiciendis ea aut",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 143,\n    "title": "eum non recusandae cupiditate animi",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 144,\n    "title": "ut eum exercitationem sint",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 145,\n    "title": "beatae qui ullam incidunt voluptatem non nisi aliquam",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 146,\n    "title": "molestiae suscipit ratione nihil odio libero impedit vero totam",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 147,\n    "title": "eum itaque quod reprehenderit et facilis dolor autem ut",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 148,\n    "title": "esse quas et quo quasi exercitationem",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 149,\n    "title": "animi voluptas quod perferendis est",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 150,\n    "title": "eos amet tempore laudantium fugit a",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 151,\n    "title": "accusamus adipisci dicta qui quo ea explicabo sed vero",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 152,\n    "title": "odit eligendi recusandae doloremque cumque non",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 153,\n    "title": "ea aperiam consequatur qui repellat eos",\n    "completed": false\n  },\n  {\n    "userId": 8,\n    "id": 154,\n    "title": "rerum non ex sapiente",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 155,\n    "title": "voluptatem nobis consequatur et assumenda magnam",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 156,\n    "title": "nam quia quia nulla repellat assumenda quibusdam sit nobis",\n    "completed": true\n  },\n  {\n    "userId": 8,\n    "id": 157,\n    "title": "dolorem veniam quisquam deserunt repellendus

can open https://jsonplaceholder.typicode.com/todos in regular browser too..

In [100]:
type(todos)

list

In [101]:
len(todos)

200

In [102]:
todos[:10]

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 {'userId': 1,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'completed': False},
 {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False},
 {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'completed': False},
 {'userId': 1,
  'id': 6,
  'title': 'qui ullam ratione quibusdam voluptatem quia omnis',
  'completed': False},
 {'userId': 1,
  'id': 7,
  'title': 'illo expedita consequatur quia in',
  'completed': False},
 {'userId': 1,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'completed': True},
 {'userId': 1,
  'id': 9,
  'title': 'molestiae perspiciatis ipsa',
  'completed': False},
 {'userId': 1,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'completed': True}]

In [17]:
myl = [('Valdis', 40), ('Alice',35), ('Bob', 23),('Carol',70)]

In [18]:
# Lambda = anonymous function

In [19]:
def myfun(el):
    return el[1]
# same as myfun = lambda el: el[1]

In [25]:
aaa = sorted(myl, key = lambda el: el[1], reverse=True)
aaa

[('Carol', 70), ('Valdis', 40), ('Alice', 35), ('Bob', 23)]

In [36]:
bbb = sorted(myl, key = myfun, reverse=True)
bbb

[('Carol', 70), ('Valdis', 40), ('Alice', 35), ('Bob', 23)]

In [108]:
# Exercise find out top 3 users with most tasks completed!

# TIPS
# we need some sort of structure to store these user results before finding out top 3
# at least two good data structure choices here :)
# here the simplest might actually be the best if we consider userId values

In [42]:
testdict = {user['userId'] : 0 for user in todos}
testdict

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

In [45]:
for i in todos:
    testdict[i['userId']] += i['completed']
testdict

{1: 11, 2: 8, 3: 7, 4: 6, 5: 12, 6: 6, 7: 9, 8: 11, 9: 8, 10: 12}

In [66]:
sss = list(testdict.items())
# sss
sorted(sss, key = lambda el: el[1], reverse=True)

[(5, 12),
 (10, 12),
 (1, 11),
 (8, 11),
 (7, 9),
 (2, 8),
 (9, 8),
 (3, 7),
 (4, 6),
 (6, 6)]

In [109]:
users = [ el['userId'] for el in todos]
len(users),users[:15]

(200, [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [110]:
uniqusers = set(users)
uniqusers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
# dictionary comprehension but could live without one
users = { el['userId'] : 0 for el in todos}

In [40]:
users

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

In [113]:
users.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [44]:
users.values()

dict_values([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [115]:
#{'completed': True,
# 'id': 8,
#  'title': 'quo adipisci enim quam ut ab',
#  'userId': 1}

In [48]:
#idiomatic
for el in todos:
    users[el['userId']] += el['completed'] # Boolean False is 0 True is 1 obviously this might not be too readable

In [ ]:
# same as above could be useful in more complicated cases
for el in todos:
    if el['completed'] == True:
        users[el['userId']] += 1

In [ ]:
# there could be a one liner or a solution with from collections import Counter

In [49]:
users.items()

dict_items([(1, 11), (2, 8), (3, 7), (4, 6), (5, 12), (6, 6), (7, 9), (8, 11), (9, 8), (10, 12)])

In [50]:
list(users.items())

[(1, 11),
 (2, 8),
 (3, 7),
 (4, 6),
 (5, 12),
 (6, 6),
 (7, 9),
 (8, 11),
 (9, 8),
 (10, 12)]

In [51]:
userlist=list(users.items())

In [52]:
type(userlist[0])

tuple

In [53]:
# we pass a key anonymous(lambda) function
sorted(userlist, key=lambda el: el[1], reverse=True)[:3]

[(5, 12), (10, 12), (1, 11)]

In [ ]:
# lets try a simple way

In [ ]:
mylist=[0]
mylist*=11

In [ ]:
for el in todos:
    if el['completed'] == True:
        mylist[el['userId']] +=1

In [ ]:
mylist

In [ ]:
mylist.index(max(mylist))

In [ ]:
# kind of hard to get more values need to get tricky

# How about Pandas and Json ?

In [67]:
import pandas as pd

In [68]:
df = pd.read_json('https://jsonplaceholder.typicode.com/todos')

In [69]:
df

     completed   id                                              title  userId
0        False    1                                 delectus aut autem       1
1        False    2                 quis ut nam facilis et officia qui       1
2        False    3                                fugiat veniam minus       1
3         True    4                                   et porro tempora       1
4        False    5  laboriosam mollitia et enim quasi adipisci qui...       1
5        False    6  qui ullam ratione quibusdam voluptatem quia omnis       1
6        False    7                  illo expedita consequatur quia in       1
7         True    8                       quo adipisci enim quam ut ab       1
8        False    9                        molestiae perspiciatis ipsa       1
9         True   10       illo est ratione doloremque quia maiores aut       1
10        True   11                        vero rerum temporibus dolor       1
11        True   12                        ipsa repellendus fugit nisi       1
12       False   13                                et doloremque nulla       1
13        True   14     repellendus sunt dolores architecto voluptatum       1
14        True   15                        ab voluptatum amet voluptas       1
15        True   16       accusamus eos facilis sint et aut voluptatem       1
16        True   17                    quo laboriosam deleniti aut qui       1
17       False   18       dolorum est consequatur ea mollitia in culpa       1
18        True   19  molestiae ipsa aut voluptatibus pariatur dolor...       1
19        True   20          ullam nobis libero sapiente ad optio sint       1
20       False   21  suscipit repellat esse quibusdam voluptatem in...       2
21        True   22      distinctio vitae autem nihil ut molestias quo       2
22       False   23  et itaque necessitatibus maxime molestiae qui ...       2
23       False   24  adipisci non ad dicta qui amet quaerat dolorib...       2
24        True   25  voluptas quo tenetur perspiciatis explicabo natus       2
25        True   26                                  aliquam aut quasi       2
26        True   27                        veritatis pariatur delectus       2
27       False   28                  nesciunt totam sit blanditiis sit       2
28       False   29                                laborum aut in quam       2
29        True   30  nemo perspiciatis repellat ut dolor libero com...       2
..         ...  ...                                                ...     ...
170       True  171  fugiat aut voluptatibus corrupti deleniti veli...       9
171      False  172  et provident amet rerum consectetur et voluptatum       9
172      False  173                              harum ad aperiam quis       9
173      False  174                                  similique aut quo       9
174       True  175  laudantium eius officia perferendis provident ...       9
175      False  176        magni soluta corrupti ut maiores rem quidem       9
176      False  177  et placeat temporibus voluptas est tempora quo...       9
177       True  178                    nesciunt itaque commodi tempore       9
178       True  179  omnis consequuntur cupiditate impedit itaque i...       9
179       True  180                debitis nisi et dolorem repellat et       9
180      False  181           ut cupiditate sequi aliquam fuga maiores      10
181       True  182           inventore saepe cumque et aut illum enim      10
182       True  183                 omnis nulla eum aliquam distinctio      10
183      False  184            molestias modi perferendis perspiciatis      10
184      False  185  voluptates dignissimos sed doloribus animi qua...      10
185      False  186                              explicabo odio est et      10
186      False  187                        consequuntur animi possimus      10
187       True  188                                 vel non beatae est      10
188       True  189                        culpa eius et voluptatem et      10
189       True  190  accusamus sint iusto et voluptatem exercitationem      10
190       True  191  temporibus atque distinctio omnis eius impedit...      10
191      False  192    ut quas possimus exercitationem sint voluptates      10
192       True  193  rerum debitis voluptatem qui eveniet tempora d...      10
193      False  194                          sed ut vero sit molestiae      10
194       True  195     rerum ex veniam mollitia voluptatibus pariatur      10
195       True  196                consequuntur aut ut fugit similique      10
196       True  197                  dignissimos quo nobis earum saepe      10
197       True  198                       quis eius est sint explicabo      10
198       True  199                       numquam repellendus a magnam      10
199      False  200                       ipsam aperiam voluptates qui      10

[200 rows x 4 columns]

In [70]:
df.groupby(['userId'])['completed'].sum()

userId
1     11.0
2      8.0
3      7.0
4      6.0
5     12.0
6      6.0
7      9.0
8     11.0
9      8.0
10    12.0
Name: completed, dtype: float64

In [101]:
df.loc[:, 'completed']

0      False
1      False
2      False
3       True
4      False
5      False
6      False
7       True
8      False
9       True
10      True
11      True
12     False
13      True
14      True
15      True
16      True
17     False
18      True
19      True
20     False
21      True
22     False
23     False
24      True
25      True
26      True
27     False
28     False
29      True
       ...
170     True
171    False
172    False
173    False
174     True
175    False
176    False
177     True
178     True
179     True
180    False
181     True
182     True
183    False
184    False
185    False
186    False
187     True
188     True
189     True
190     True
191    False
192     True
193    False
194     True
195     True
196     True
197     True
198     True
199    False
Name: completed, Length: 200, dtype: bool

In [87]:
df.groupby(['userId'])['completed'].sum().sort_values(ascending=False)

userId
10    12.0
5     12.0
8     11.0
1     11.0
7      9.0
9      8.0
2      8.0
3      7.0
6      6.0
4      6.0
Name: completed, dtype: float64

# Exercise Find Public JSON API get data and convert it into Pandas DataFrame

## Many possible sources

https://github.com/toddmotto/public-apis
    
### You want the ones without authorization and WITH CORS unless you are feeling adventurous and want to try with auth

In [116]:
todos

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 {'userId': 1,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'completed': False},
 {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False},
 {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'completed': False},
 {'userId': 1,
  'id': 6,
  'title': 'qui ullam ratione quibusdam voluptatem quia omnis',
  'completed': False},
 {'userId': 1,
  'id': 7,
  'title': 'illo expedita consequatur quia in',
  'completed': False},
 {'userId': 1,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'completed': True},
 {'userId': 1,
  'id': 9,
  'title': 'molestiae perspiciatis ipsa',
  'completed': False},
 {'userId': 1,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'completed': True},
 {'userId': 1,
  'id': 11,
  'title': 'vero rerum temporibus dolor',
  'completed': True},
 {'userId': 1,
  'id': 12,
  'title': 'ipsa repellendus fugit nisi',
  'completed': True},
 {'userId': 1, 'id': 13, 'title': 'et doloremque nulla', 'completed': False},
 {'userId': 1,
  'id': 14,
  'title': 'repellendus sunt dolores architecto voluptatum',
  'completed': True},
 {'userId': 1,
  'id': 15,
  'title': 'ab voluptatum amet voluptas',
  'completed': True},
 {'userId': 1,
  'id': 16,
  'title': 'accusamus eos facilis sint et aut voluptatem',
  'completed': True},
 {'userId': 1,
  'id': 17,
  'title': 'quo laboriosam deleniti aut qui',
  'completed': True},
 {'userId': 1,
  'id': 18,
  'title': 'dolorum est consequatur ea mollitia in culpa',
  'completed': False},
 {'userId': 1,
  'id': 19,
  'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil',
  'completed': True},
 {'userId': 1,
  'id': 20,
  'title': 'ullam nobis libero sapiente ad optio sint',
  'completed': True},
 {'userId': 2,
  'id': 21,
  'title': 'suscipit repellat esse quibusdam voluptatem incidunt',
  'completed': False},
 {'userId': 2,
  'id': 22,
  'title': 'distinctio vitae autem nihil ut molestias quo',
  'completed': True},
 {'userId': 2,
  'id': 23,
  'title': 'et itaque necessitatibus maxime molestiae qui quas velit',
  'completed': False},
 {'userId': 2,
  'id': 24,
  'title': 'adipisci non ad dicta qui amet quaerat doloribus ea',
  'completed': False},
 {'userId': 2,
  'id': 25,
  'title': 'voluptas quo tenetur perspiciatis explicabo natus',
  'completed': True},
 {'userId': 2, 'id': 26, 'title': 'aliquam aut quasi', 'completed': True},
 {'userId': 2,
  'id': 27,
  'title': 'veritatis pariatur delectus',
  'completed': True},
 {'userId': 2,
  'id': 28,
  'title': 'nesciunt totam sit blanditiis sit',
  'completed': False},
 {'userId': 2, 'id': 29, 'title': 'laborum aut in quam', 'completed': False},
 {'userId': 2,
  'id': 30,
  'title': 'nemo perspiciatis repellat ut dolor libero commodi blanditiis omnis',
  'completed': True},
 {'userId': 2,
  'id': 31,
  'title': 'repudiandae totam in est sint facere fuga',
  'completed': False},
 {'userId': 2,
  'id': 32,
  'title': 'earum doloribus ea doloremque quis',
  'completed': False},
 {'userId': 2, 'id': 33, 'title': 'sint sit aut vero', 'completed': False},
 {'userId': 2,
  'id': 34,
  'title': 'porro aut necessitatibus eaque distinctio',
  'completed': False},
 {'userId': 2,
  'id': 35,
  'title': 'repellendus veritatis molestias dicta incidunt',
  'completed': True},
 {'userId': 2,
  'id': 36,
  'title': 'excepturi deleniti adipisci voluptatem et neque optio illum ad',
  'completed': True},
 {'userId': 2, 'id': 37, 'title': 'sunt cum tempora', 'completed': False},
 {'userId': 2, 'id': 38, 'title': 'totam quia non', 'completed': False},
 {'userId': 2,
  'id': 39,
  'title': 'doloremque quibusdam asperiores libero corrupti illum qui omnis',
  'completed': False},
 {'userId': 2,
  'id': 40,
  'title': 'totam atque quo nesciunt',
  'completed': True},
 {'userId': 3,
  'id': 41,
  'title': 'aliquid amet impedit consequatur aspernatur placeat eaque fugiat suscipit',
  'completed': False},
 {'userId': 3,
  'id': 42,
  'title': 'rerum perferendis error quia ut eveniet',
  'completed': False},
 {'userId': 3,
  'id': 43,
  'title': 'tempore ut sint quis recusandae',
  'completed': True},
 {'userId': 3,
  'id': 44,
  'title': 'cum debitis quis accusamus doloremque ipsa natus sapiente omnis',
  'completed': True},
 {'userId': 3,
  'id': 45,
  'title': 'velit soluta adipisci molestias reiciendis harum',
  'completed': False},
 {'userId': 3,
  'id': 46,
  'title': 'vel voluptatem repellat nihil placeat corporis',
  'completed': False},
 {'userId': 3,
  'id': 47,
  'title': 'nam qui rerum fugiat accusamus',
  'completed': False},
 {'userId': 3,
  'id': 48,
  'title': 'sit reprehenderit omnis quia',
  'completed': False},
 {'userId': 3,
  'id': 49,
  'title': 'ut necessitatibus aut maiores debitis officia blanditiis velit et',
  'completed': False},
 {'userId': 3,
  'id': 50,
  'title': 'cupiditate necessitatibus ullam aut quis dolor voluptate',
  'completed': True},
 {'userId': 3,
  'id': 51,
  'title': 'distinctio exercitationem ab doloribus',
  'completed': False},
 {'userId': 3,
  'id': 52,
  'title': 'nesciunt dolorum quis recusandae ad pariatur ratione',
  'completed': False},
 {'userId': 3,
  'id': 53,
  'title': 'qui labore est occaecati recusandae aliquid quam',
  'completed': False},
 {'userId': 3,
  'id': 54,
  'title': 'quis et est ut voluptate quam dolor',
  'completed': True},
 {'userId': 3,
  'id': 55,
  'title': 'voluptatum omnis minima qui occaecati provident nulla voluptatem ratione',
  'completed': True},
 {'userId': 3,
  'id': 56,
  'title': 'deleniti ea temporibus enim',
  'completed': True},
 {'userId': 3,
  'id': 57,
  'title': 'pariatur et magnam ea doloribus similique voluptatem rerum quia',
  'completed': False},
 {'userId': 3,
  'id': 58,
  'title': 'est dicta totam qui explicabo doloribus qui dignissimos',
  'completed': False},
 {'userId': 3,
  'id': 59,
  'title': 'perspiciatis velit id laborum placeat iusto et aliquam odio',
  'completed': False},
 {'userId': 3,
  'id': 60,
  'title': 'et sequi qui architecto ut adipisci',
  'completed': True},
 {'userId': 4,
  'id': 61,
  'title': 'odit optio omnis qui sunt',
  'completed': True},
 {'userId': 4,
  'id': 62,
  'title': 'et placeat et tempore aspernatur sint numquam',
  'completed': False},
 {'userId': 4,
  'id': 63,
  'title': 'doloremque aut dolores quidem fuga qui nulla',
  'completed': True},
 {'userId': 4,
  'id': 64,
  'title': 'voluptas consequatur qui ut quia magnam nemo esse',
  'completed': False},
 {'userId': 4,
  'id': 65,
  'title': 'fugiat pariatur ratione ut asperiores necessitatibus magni',
  'completed': False},
 {'userId': 4,
  'id': 66,
  'title': 'rerum eum molestias autem voluptatum sit optio',
  'completed': False},
 {'userId': 4,
  'id': 67,
  'title': 'quia voluptatibus voluptatem quos similique maiores repellat',
  'completed': False},
 {'userId': 4,
  'id': 68,
  'title': 'aut id perspiciatis voluptatem iusto',
  'completed': False},
 {'userId': 4,
  'id': 69,
  'title': 'doloribus sint dolorum ab adipisci itaque dignissimos aliquam suscipit',
  'completed': False},
 {'userId': 4,
  'id': 70,
  'title': 'ut sequi accusantium et mollitia delectus sunt',
  'completed': False},
 {'userId': 4, 'id': 71, 'title': 'aut velit saepe ullam', 'completed': False},
 {'userId': 4,
  'id': 72,
  'title': 'praesentium facilis facere quis harum voluptatibus voluptatem eum',
  'completed': False},
 {'userId': 4,
  'id': 73,
  'title': 'sint amet quia totam corporis qui exercitationem commodi',
  'completed': True},
 {'userId': 4,
  'id': 74,
  'title': 'expedita tempore nobis eveniet laborum maiores',
  'completed': False},
 {'userId': 4,
  'id': 75,
  'title': 'occaecati adipisci est possimus totam',
  'completed': False},
 {'userId': 4, 'id': 76, 'title': 'sequi dolorem sed', 'completed': True},
 {'userId': 4,
  'id': 77,
  'title': 'maiores aut nesciunt delectus exercitationem vel assumenda eligendi at',
  'completed': False},
 {'userId': 4,
  'id': 78,
  'title': 'reiciendis est magnam amet nemo iste recusandae impedit quaerat',
  'completed': False},
 {'userId': 4, 'id': 79, 'title': 'eum ipsa maxime ut', 'completed': True},
 {'userId': 4,
  'id': 80,
  'title': 'tempore molestias dolores rerum sequi voluptates ipsum consequatur',
  'completed': True},
 {'userId': 5, 'id': 81, 'title': 'suscipit qui totam', 'completed': True},
 {'userId': 5,
  'id': 82,
  'title': 'voluptates eum voluptas et dicta',
  'completed': False},
 {'userId': 5,
  'id': 83,
  'title': 'quidem at rerum quis ex aut sit quam',
  'completed': True},
 {'userId': 5,
  'id': 84,
  'title': 'sunt veritatis ut voluptate',
  'completed': False},
 {'userId': 5, 'id': 85, 'title': 'et quia ad iste a', 'completed': True},
 {'userId': 5,
  'id': 86,
  'title': 'incidunt ut saepe autem',
  'completed': True},
 {'userId': 5,
  'id': 87,
  'title': 'laudantium quae eligendi consequatur quia et vero autem',
  'completed': True},
 {'userId': 5,
  'id': 88,
  'title': 'vitae aut excepturi laboriosam sint aliquam et et accusantium',
  'completed': False},
 {'userId': 5, 'id': 89, 'title': 'sequi ut omnis et', 'completed': True},
 {'userId': 5,
  'id': 90,
  'title': 'molestiae nisi accusantium tenetur dolorem et',
  'completed': True},
 {'userId': 5,
  'id': 91,
  'title': 'nulla quis consequatur saepe qui id expedita',
  'completed': True},
 {'userId': 5, 'id': 92, 'title': 'in omnis laboriosam', 'completed': True},
 {'userId': 5,
  'id': 93,
  'title': 'odio iure consequatur molestiae quibusdam necessitatibus quia sint',
  'completed': True},
 {'userId': 5,
  'id': 94,
  'title': 'facilis modi saepe mollitia',
  'completed': False},
 {'userId': 5,
  'id': 95,
  'title': 'vel nihil et molestiae iusto assumenda nemo quo ut',
  'completed': True},
 {'userId': 5,
  'id': 96,
  'title': 'nobis suscipit ducimus enim asperiores voluptas',
  'completed': False},
 {'userId': 5,
  'id': 97,
  'title': 'dolorum laboriosam eos qui iure aliquam',
  'completed': False},
 {'userId': 5,
  'id': 98,
  'title': 'debitis accusantium ut quo facilis nihil quis sapiente necessitatibus',
  'completed': True},
 {'userId': 5,
  'id': 99,
  'title': 'neque voluptates ratione',
  'completed': False},
 {'userId': 5,
  'id': 100,
  'title': 'excepturi a et neque qui expedita vel voluptate',
  'completed': False},
 {'userId': 6,
  'id': 101,
  'title': 'explicabo enim cumque porro aperiam occaecati minima',
  'completed': False},
 {'userId': 6, 'id': 102, 'title': 'sed ab consequatur', 'completed': False},
 {'userId': 6,
  'id': 103,
  'title': 'non sunt delectus illo nulla tenetur enim omnis',
  'completed': False},
 {'userId': 6,
  'id': 104,
  'title': 'excepturi non laudantium quo',
  'completed': False},
 {'userId': 6,
  'id': 105,
  'title': 'totam quia dolorem et illum repellat voluptas optio',
  'completed': True},
 {'userId': 6,
  'id': 106,
  'title': 'ad illo quis voluptatem temporibus',
  'completed': True},
 {'userId': 6,
  'id': 107,
  'title': 'praesentium facilis omnis laudantium fugit ad iusto nihil nesciunt',
  'completed': False},
 {'userId': 6,
  'id': 108,
  'title': 'a eos eaque nihil et exercitationem incidunt delectus',
  'completed': True},
 {'userId': 6,
  'id': 109,
  'title': 'autem temporibus harum quisquam in culpa',
  'completed': True},
 {'userId': 6, 'id': 110, 'title': 'aut aut ea corporis', 'completed': True},
 {'userId': 6,
  'id': 111,
  'title': 'magni accusantium labore et id quis provident',
  'completed': False},
 {'userId': 6,
  'id': 112,
  'title': 'consectetur impedit quisquam qui deserunt non rerum consequuntur eius',
  'completed': False},
 {'userId': 6,
  'id': 113,
  'title': 'quia atque aliquam sunt impedit voluptatum rerum assumenda nisi',
  'completed': False},
 {'userId': 6,
  'id': 114,
  'title': 'cupiditate quos possimus corporis quisquam exercitationem beatae',
  'completed': False},
 {'userId': 6, 'id': 115, 'title': 'sed et ea eum', 'completed': False},
 {'userId': 6,
  'id': 116,
  'title': 'ipsa dolores vel facilis ut',
  'completed': True},
 {'userId': 6,
  'id': 117,
  'title': 'sequi quae est et qui qui eveniet asperiores',
  'completed': False},
 {'userId': 6,
  'id': 118,
  'title': 'quia modi consequatur vero fugiat',
  'completed': False},
 {'userId': 6,
  'id': 119,
  'title': 'corporis ducimus ea perspiciatis iste',
  'completed': False},
 {'userId': 6,
  'id': 120,
  'title': 'dolorem laboriosam vel voluptas et aliquam quasi',
  'completed': False},
 {'userId': 7,
  'id': 121,
  'title': 'inventore aut nihil minima laudantium hic qui omnis',
  'completed': True},
 {'userId': 7,
  'id': 122,
  'title': 'provident aut nobis culpa',
  'completed': True},
 {'userId': 7,
  'id': 123,
  'title': 'esse et quis iste est earum aut impedit',
  'completed': False},
 {'userId': 7, 'id': 124, 'title': 'qui consectetur id', 'completed': False},
 {'userId': 7,
  'id': 125,
  'title': 'aut quasi autem iste tempore illum possimus',
  'completed': False},
 {'userId': 7,
  'id': 126,
  'title': 'ut asperiores perspiciatis veniam ipsum rerum saepe',
  'completed': True},
 {'userId': 7,
  'id': 127,
  'title': 'voluptatem libero consectetur rerum ut',
  'completed': True},
 {'userId': 7,
  'id': 128,
  'title': 'eius omnis est qui voluptatem autem',
  'completed': False},
 {'userId': 7,
  'id': 129,
  'title': 'rerum culpa quis harum',
  'completed': False},
 {'userId': 7,
  'id': 130,
  'title': 'nulla aliquid eveniet harum laborum libero alias ut unde',
  'completed': True},
 {'userId': 7, 'id': 131, 'title': 'qui ea incidunt quis', 'completed': False},
 {'userId': 7,
  'id': 132,
  'title': 'qui molestiae voluptatibus velit iure harum quisquam',
  'completed': True},
 {'userId': 7,
  'id': 133,
  'title': 'et labore eos enim rerum consequatur sunt',
  'completed': True},
 {'userId': 7,
  'id': 134,
  'title': 'molestiae doloribus et laborum quod ea',
  'completed': False},
 {'userId': 7,
  'id': 135,
  'title': 'facere ipsa nam eum voluptates reiciendis vero qui',
  'completed': False},
 {'userId': 7,
  'id': 136,
  'title': 'asperiores illo tempora fuga sed ut quasi adipisci',
  'completed': False},
 {'userId': 7, 'id': 137, 'title': 'qui sit non', 'completed': False},
 {'userId': 7,
  'id': 138,
  'title': 'placeat minima consequatur rem qui ut',
  'completed': True},
 {'userId': 7,
  'id': 139,
  'title': 'consequatur doloribus id possimus voluptas a voluptatem',
  'completed': False},
 {'userId': 7,
  'id': 140,
  'title': 'aut consectetur in blanditiis deserunt quia sed laboriosam',
  'completed': True},
 {'userId': 8,
  'id': 141,
  'title': 'explicabo consectetur debitis voluptates quas quae culpa rerum non',
  'completed': True},
 {'userId': 8,
  'id': 142,
  'title': 'maiores accusantium architecto necessitatibus reiciendis ea aut',
  'completed': True},
 {'userId': 8,
  'id': 143,
  'title': 'eum non recusandae cupiditate animi',
  'completed': False},
 {'userId': 8,
  'id': 144,
  'title': 'ut eum exercitationem sint',
  'completed': False},
 {'userId': 8,
  'id': 145,
  'title': 'beatae qui ullam incidunt voluptatem non nisi aliquam',
  'completed': False},
 {'userId': 8,
  'id': 146,
  'title': 'molestiae suscipit ratione nihil odio libero impedit vero totam',
  'completed': True},
 {'userId': 8,
  'id': 147,
  'title': 'eum itaque quod reprehenderit et facilis dolor autem ut',
  'completed': True},
 {'userId': 8,
  'id': 148,
  'title': 'esse quas et quo quasi exercitationem',
  'completed': False},
 {'userId': 8,
  'id': 149,
  'title': 'animi voluptas quod perferendis est',
  'completed': False},
 {'userId': 8,
  'id': 150,
  'title': 'eos amet tempore laudantium fugit a',
  'completed': False},
 {'userId': 8,
  'id': 151,
  'title': 'accusamus adipisci dicta qui quo ea explicabo sed vero',
  'completed': True},
 {'userId': 8,
  'id': 152,
  'title': 'odit eligendi recusandae doloremque cumque non',
  'completed': False},
 {'userId': 8,
  'id': 153,
  'title': 'ea aperiam consequatur qui repellat eos',
  'completed': False},
 {'userId': 8, 'id': 154, 'title': 'rerum non ex sapiente', 'completed': True},
 {'userId': 8,
  'id': 155,
  'title': 'voluptatem nobis consequatur et assumenda magnam',
  'completed': True},
 {'userId': 8,
  'id': 156,
  'title': 'nam quia quia nulla repellat assumenda quibusdam sit nobis',
  'completed': True},
 {'userId': 8,
  'id': 157,
  'title': 'dolorem veniam quisquam deserunt repellendus',
  'completed': True},
 {'userId': 8,
  'id': 158,
  'title': 'debitis vitae delectus et harum accusamus aut deleniti a',
  'completed': True},
 {'userId': 8,
  'id': 159,
  'title': 'debitis adipisci quibusdam aliquam sed dolore ea praesentium nobis',
  'completed': True},
 {'userId': 8,
  'id': 160,
  'title': 'et praesentium aliquam est',
  'completed': False},
 {'userId': 9,
  'id': 161,
  'title': 'ex hic consequuntur earum omnis alias ut occaecati culpa',
  'completed': True},
 {'userId': 9,
  'id': 162,
  'title': 'omnis laboriosam molestias animi sunt dolore',
  'completed': True},
 {'userId': 9,
  'id': 163,
  'title': 'natus corrupti maxime laudantium et voluptatem laboriosam odit',
  'completed': False},
 {'userId': 9,
  'id': 164,
  'title': 'reprehenderit quos aut aut consequatur est sed',
  'completed': False},
 {'userId': 9,
  'id': 165,
  'title': 'fugiat perferendis sed aut quidem',
  'completed': False},
 {'userId': 9,
  'id': 166,
  'title': 'quos quo possimus suscipit minima ut',
  'completed': False},
 {'userId': 9,
  'id': 167,
  'title': 'et quis minus quo a asperiores molestiae',
  'completed': False},
 {'userId': 9,
  'id': 168,
  'title': 'recusandae quia qui sunt libero',
  'completed': False},
 {'userId': 9,
  'id': 169,
  'title': 'ea odio perferendis officiis',
  'completed': True},
 {'userId': 9,
  'id': 170,
  'title': 'quisquam aliquam quia doloribus aut',
  'completed': False},
 {'userId': 9,
  'id': 171,
  'title': 'fugiat aut voluptatibus corrupti deleniti velit iste odio',
  'completed': True},
 {'userId': 9,
  'id': 172,
  'title': 'et provident amet rerum consectetur et voluptatum',
  'completed': False},
 {'userId': 9,
  'id': 173,
  'title': 'harum ad aperiam quis',
  'completed': False},
 {'userId': 9, 'id': 174, 'title': 'similique aut quo', 'completed': False},
 {'userId': 9,
  'id': 175,
  'title': 'laudantium eius officia perferendis provident perspiciatis asperiores',
  'completed': True},
 {'userId': 9,
  'id': 176,
  'title': 'magni soluta corrupti ut maiores rem quidem',
  'completed': False},
 {'userId': 9,
  'id': 177,
  'title': 'et placeat temporibus voluptas est tempora quos quibusdam',
  'completed': False},
 {'userId': 9,
  'id': 178,
  'title': 'nesciunt itaque commodi tempore',
  'completed': True},
 {'userId': 9,
  'id': 179,
  'title': 'omnis consequuntur cupiditate impedit itaque ipsam quo',
  'completed': True},
 {'userId': 9,
  'id': 180,
  'title': 'debitis nisi et dolorem repellat et',
  'completed': True},
 {'userId': 10,
  'id': 181,
  'title': 'ut cupiditate sequi aliquam fuga maiores',
  'completed': False},
 {'userId': 10,
  'id': 182,
  'title': 'inventore saepe cumque et aut illum enim',
  'completed': True},
 {'userId': 10,
  'id': 183,
  'title': 'omnis nulla eum aliquam distinctio',
  'completed': True},
 {'userId': 10,
  'id': 184,
  'title': 'molestias modi perferendis perspiciatis',
  'completed': False},
 {'userId': 10,
  'id': 185,
  'title': 'voluptates dignissimos sed doloribus animi quaerat aut',
  'completed': False},
 {'userId': 10,
  'id': 186,
  'title': 'explicabo odio est et',
  'completed': False},
 {'userId': 10,
  'id': 187,
  'title': 'consequuntur animi possimus',
  'completed': False},
 {'userId': 10, 'id': 188, 'title': 'vel non beatae est', 'completed': True},
 {'userId': 10,
  'id': 189,
  'title': 'culpa eius et voluptatem et',
  'completed': True},
 {'userId': 10,

In [117]:
rawtodos = json.dumps(todos)

In [118]:
df2 = pd.read_json(rawtodos)

In [119]:
df2.head()

   completed  id                                              title  userId
0      False   1                                 delectus aut autem       1
1      False   2                 quis ut nam facilis et officia qui       1
2      False   3                                fugiat veniam minus       1
3       True   4                                   et porro tempora       1
4      False   5  laboriosam mollitia et enim quasi adipisci qui...       1

In [120]:
## For authorization you generally need some sort of token(key)
# One example for zendesk API  https://develop.zendesk.com/hc/en-us/community/posts/360001652447-API-auth-in-python


# For an API token, append '/token' to your username and use the token as the password:
## This will not work for those without zendesk access token

url = 'https://your_subdomain.zendesk.com/api/v2/users/123.json'
r = requests.get(url, auth=('user@example.com/token', 'your_token'))
# For an OAuth token, set an Authorization header:

bearer_token = 'Bearer ' + access_token
header = {'Authorization': bearer_token}
url = 'https://your_subdomain.zendesk.com/api/v2/users/123.json'
r = requests.get(url, headers=header)

NameError: name 'access_token' is not defined

Example 1: From Environment - UK Carbon Intensity API (UK electricity generation types)

In [182]:
import json
import pandas as pd
import requests

# another version by puting .json()['data'] at the end of request. Returns dictionary.
# api_response = requests.get('https://api.carbonintensity.org.uk/generation').json()['data']

api_response = requests.get('https://api.carbonintensity.org.uk/generation')


python_dict = json.loads(api_response.text)


with open('UK_electricity_generation (API_homework).json', 'w') as file_out:
    json.dump(python_dict, file_out, indent=4)
    
with open('UK_electricity_generation (API_homework).json', 'r') as file_in:
    uk_data = json.load(file_in)

print(uk_data)

uk_data['data']['generationmix']
    

df_electric = pd.DataFrame(uk_data_list)
df_electric

{'data': {'from': '2019-01-22T15:00Z', 'to': '2019-01-22T15:30Z', 'generationmix': [{'fuel': 'biomass', 'perc': 6.3}, {'fuel': 'coal', 'perc': 12.9}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 54.4}, {'fuel': 'nuclear', 'perc': 12.3}, {'fuel': 'other', 'perc': 0.2}, {'fuel': 'hydro', 'perc': 1.9}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 9.2}]}}

      fuel  perc
0  biomass   6.3
1     coal  11.2
2  imports   1.4
3      gas  54.0
4  nuclear  12.1
5    other   0.0
6    hydro   2.5
7    solar   2.3
8     wind  10.2

Example 2: From Finance - Alpha Vantage API (API_key = XMVJOMNAAVFFIPEZ)

In [183]:
import json
import pandas as pd
import requests

api_response = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=TSLA&outputsize=compact&apikey=XMVJOMNAAVFFIPEZ')

python_dict = json.loads(api_response.text)

with open('Alpha_Vantage_tesla_stock_prices_(API_homework).json', 'w') as file_out:
    json.dump(python_dict, file_out, indent=4)
    
with open('Alpha_Vantage_tesla_stock_prices.json', 'r') as file_in:
    data = json.load(file_in)
    
tesla_stock_data = data['Time Series (Daily)']

df_tesla_stock = pd.DataFrame(tesla_stock_data)
df_tesla_stock

,2019-01-22,2019-01-18,2019-01-17,2019-01-16,2019-01-15,2019-01-14,2019-01-11,2019-01-10,2019-01-09,2019-01-08,...,2018-09-11,2018-09-10,2018-09-07,2018-09-06,2018-09-05,2018-09-04,2018-08-31,2018-08-30,2018-08-29,2018-08-28
1. open,304.8200,323.0000,346.2100,344.7800,335.0000,342.3800,342.0900,334.4000,335.5000,341.9600,...,279.4700,273.2600,260.1000,284.8000,285.0500,296.9400,302.0000,302.2600,310.2700,318.4100
2. high,308.0000,327.1297,351.5000,352.0000,348.8000,342.5000,348.4100,345.3900,343.5025,344.0100,...,282.0000,286.0300,268.3500,291.1700,286.7800,298.1900,305.3082,304.6000,311.8500,318.8800
3. low,295.5200,299.7301,344.1500,343.5000,334.5000,334.0000,338.7700,331.7900,331.4700,327.0200,...,273.5500,271.0000,252.2548,278.8800,277.1800,288.0000,298.6000,297.7200,303.6900,311.1900
4. close,300.3500,302.2600,347.3100,346.0500,344.4300,334.4000,347.2600,344.9700,338.5300,335.3500,...,279.4400,285.5000,263.2400,280.9500,280.7400,288.9500,301.6600,303.1500,305.0100,311.8600
5. adjusted close,300.3500,302.2600,347.3100,346.0500,344.4300,334.4000,347.2600,344.9700,338.5300,335.3500,...,279.4400,285.5000,263.2400,280.9500,280.7400,288.9500,301.6600,303.1500,305.0100,311.8600
6. volume,4875266,24150763,3676733,4691739,6056590,5247284,5039052,6056354,5432945,7008516,...,9169989,14283528,22491931,7480760,7720821,8350469,5375104,7216706,7447392,7649091
7. dividend amount,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8. split coefficient,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,...,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000

In [6]:
import pandas as pd
url = 'http://api.population.io:80/1.0'
year= 2011
age = 42
country = 'Latvia'

query = f'/population/{year}/{country}/{age}/'
req = url + query
print(query)
print(req)

/population/2011/Latvia/42/
http://api.population.io:80/1.0/population/2011/Latvia/42/

In [7]:
df = pd.read_json(req)
df

   age country  females  males  total  year
0   42  Latvia    14060  13349  27409  2011

In [13]:
import time

In [15]:
years = [year for i in time.year() ]
years

AttributeError: module 'time' has no attribute 'year'

In [11]:
ages = [ag for ag in range(1, 50)]
ages

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [18]:
mylist = []

In [50]:
for age in range(1, 50):
    for year in range(1980, 2015):
        mylist.append(url + f'/population/{year}/Latvia/{age}/')
        # Instead of adding to list we could call the URL here.

In [24]:
len(mylist)

3430

In [45]:
mylist[:5]

['http://api.population.io:80/1.0/population/1980/Latvia/1/',
 'http://api.population.io:80/1.0/population/1981/Latvia/1/',
 'http://api.population.io:80/1.0/population/1982/Latvia/1/',
 'http://api.population.io:80/1.0/population/1983/Latvia/1/',
 'http://api.population.io:80/1.0/population/1984/Latvia/1/']

In [48]:
df = pd.read_json([mylist[0]])
df

ValueError: Invalid file path or buffer object type: <class 'list'>

In [47]:
df = pd.read_json(mylist[0])
print(df)
for el in mylist[:10]:
    df2 = pd.read_json(el)
    df = pd.concat([df, df2])
    time.sleep(0.5)

   age country  females  males  total  year
0    1  Latvia    16477  17294  33771  1980

In [37]:
df.index = df['year']

In [38]:
df

      age country  females  males  total  year
year
1980    1  Latvia    16477  17294  33771  1980
1980    1  Latvia    16477  17294  33771  1980
1981    1  Latvia    15928  16671  32601  1981
1982    1  Latvia    17343  18195  35540  1982
1983    1  Latvia    18056  18934  36993  1983
1984    1  Latvia    18827  19738  38567  1984
1985    1  Latvia    19561  20506  40067  1985
1986    1  Latvia    20435  21442  41877  1986
1987    1  Latvia    20966  21933  42897  1987
1988    1  Latvia    21425  22396  43819  1988
1989    1  Latvia    21409  22348  43755  1989